<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <display-name>Servlet</display-name>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Servlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/html_form_action.asp/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>response</servlet-name>
        <jsp-file>/response.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>editHospital</servlet-name>
        <jsp-file>/edit.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>submitComplaint</servlet-name>
        <jsp-file>/bug.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>home</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>clinic</servlet-name>
        <jsp-file>/clinic.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index.jsp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>response</servlet-name>
        <url-pattern>/response.jsp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>editHospital</servlet-name>
        <url-pattern>/edit.jsp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>submitComplaint</servlet-name>
        <url-pattern>/bug.jsp/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>home</servlet-name>
        <url-pattern>/home.jsp/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>clinic</servlet-name>
        <url-pattern>/clinic.jsp/*</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
    </welcome-file-list>
</web-app>
